@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-tertiary: var(--tertiary);
	--color-brand-50: var(--brand-50);
	--color-brand-75: var(--brand-75);
	--color-brand-100: var(--brand-100);
	--color-brand-200: var(--brand-200);
	--color-brand-300: var(--brand-300);
	--color-brand-400: var(--brand-400);
	--color-brand-500: var(--brand-500);

	--color-error-50: var(--error-50);
	--color-error-75: var(--error-75);
	--color-error-100: var(--error-100);
	--color-error-200: var(--error-200);
	--color-error-300: var(--error-300);
	--color-error-400: var(--error-400);
	--color-error-500: var(--error-500);

	--color-warning-50: var(--warning-50);
	--color-warning-75: var(--warning-75);
	--color-warning-100: var(--warning-100);
	--color-warning-200: var(--warning-200);
	--color-warning-300: var(--warning-300);
	--color-warning-400: var(--warning-400);
	--color-warning-500: var(--warning-500);

	--color-success-50: var(--success-50);
	--color-success-75: var(--success-75);
	--color-success-100: var(--success-100);
	--color-success-200: var(--success-200);
	--color-success-300: var(--success-300);
	--color-success-400: var(--success-400);
	--color-success-500: var(--success-500);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: #2b2b2b;
	--tertiary: #818181;
	--primary-foreground: oklch(0.985 0 0);
	--secondary: #fafafa;
	--secondary-foreground: #2b2b2b;
	--muted: #fafafa;
	--muted-foreground: oklch(0.556 0 0);
	--accent: #fafafa;
	--accent-foreground: #2b2b2b;
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: #2b2b2b;
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: #fafafa;
	--sidebar-accent-foreground: #2b2b2b;
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--brand-50: #e6f6f2;
	--brand-75: #98daca;
	--brand-100: #6dcbb4;
	--brand-200: #2fb493;
	--brand-300: #04a57d;
	--brand-400: #037358;
	--brand-500: #02654c;

	--error-50: #fdebea;
	--error-75: #f8ada8;
	--error-100: #f58c84;
	--error-200: #f15a4f;
	--error-300: #ee382b;
	--error-400: #a7271e;
	--error-500: #91221a;

	--warning-50: #fff0e6;
	--warning-75: #ffc296;
	--warning-100: #ffa86b;
	--warning-200: #ff832b;
	--warning-300: #ff6900;
	--warning-400: #b34a00;
	--warning-500: #9c4000;

	--success-50: #e6f7ef;
	--success-75: #96dfbf;
	--success-100: #6bd2a4;
	--success-200: #2bbf7d;
	--success-300: #00b262;
	--success-400: #007d45;
	--success-500: #006d3c;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: #2b2b2b;
	--card-foreground: oklch(0.985 0 0);
	--popover: #2b2b2b;
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: #2b2b2b;
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: #2b2b2b;
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	--brand-50: #0a2a24;
	--brand-75: #0f3a32;
	--brand-100: #144a40;
	--brand-200: #195a4e;
	--brand-300: #1e6a5c;
	--brand-400: #237a6a;
	--brand-500: #288a78;
	--brand-600: #2d9a86;
	--brand-700: #32aa94;
	--brand-800: #37baa2;
	--brand-900: #3ccab0;
	--brand-950: #41dabe;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
